<h1>This is the secret page!</h1>
<p>You found me!</p>
<img src="https://images.unsplash.com/photo-1436285122087-89584a1d9398?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=8cca43a7d2cbb8e786b920aff2ba2347">

<li><a href="/register">Sign Up!</a></li>
<li><a href="/login">Login!</a></li>
<li><a href="/logout">Logout!</a></li>